DB_URL=jdbc:postgresql://localhost:5432/nova_bank
DB_USERNAME=myuser
DB_PASSWORD=mypassword

# Mailtrap configuration
MAILTRAP_HOST=sandbox.smtp.mailtrap.io
MAILTRAP_PORT=2525
MAILTRAP_USERNAME=330c7a81e18132
MAILTRAP_PASSWORD=2a31e509b969a7
MAILTRAP_FROM=noreply@tuapp.com

RECOVERY_URL=http://localhost:8080