DB_URL=jdbc:postgresql://localhost:5432/nova_bank
DB_USERNAME=myuser
DB_PASSWORD=mypassword

# Mailtrap configuration
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=25
MAIL_USERNAME=b5ee234349886e
MAIL_PASSWORD=147853c7380786
MAIL_FROM=noreply@tuapp.com

RECOVERY_PASS_URL=http://localhost:8080/
JWT_SECRET=uFglOv4YxOXyVWreY4TGJbVj8GF0Q3neQdOeFt3bnw8
JWT_EXPIRATION=3600000