DB_URL=jdbc:postgresql://localhost:5432/nova_bank
DB_USERNAME=myuser
DB_PASSWORD=mypassword

# Mailtrap configuration
MAIL_HOST=YOUR_MAIL_HOST
MAIL_PORT=YOUR_MAIL_PORT
MAIL_USERNAME=YOUR_MAIL_USERNAME
MAIL_PASSWORD=YOUR_MAIL_PASSWORD
MAIL_FROM=YOUR_MAIL_FROM_ADDRESS #noreply@tuapp.com